body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: "Jost", sans-serif;
	/* background: url(../images/paw_pattern.jpg); */
	background-color: #eaeaea;
	background-blend-mode: multiply;
}
.main {
	width: 350px;
	height: 500px;
	overflow: hidden;
	background: #fff;
	border-radius: 1rem;
	box-shadow: 5px 20px 50px #2e1c2b;
}
#chk {
	display: none;
}
.signup {
	position: relative;
	width: 100%;
	height: 100%;
}
label {
	color: #2e1c2b;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}
input {
	width: 60%;
	height: 20px;
	background: #eaeaea;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button {
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	background: #eaeaea;
	color: #2e1c2b;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: 0.2s ease-in;
	cursor: pointer;
}

.signup_button:hover {
	background: #2e1c2b;
	color: #eaeaea;
	box-shadow: 5px 20px 50px #2e1c2b;
}

.login {
	height: 460px;
	background: #2e1c2b;
	transform: translateY(-180px);
	transition: 0.8s ease-in-out;
}

.login_button:hover {
    color: #2e1c2b;
	background: #eaeaea;
	box-shadow: 5px 20px 50px #eaeaea;
}

.login label {
	color: #fff;
	transform: scale(0.6);
}

#chk:checked ~ .login {
	transform: translateY(-500px);
}
#chk:checked ~ .login label {
	transform: scale(1);
}
#chk:checked ~ .signup label {
	transform: scale(0.6);
}
